/*---------
   RESET 
----------*/
*{
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}

/*---------
   COMMON 
----------*/
#quadrato{
  width:auto;
	height:650px;
	background-color: rgba(0,0,0,0.5 );
  margin-top: 30px;
  padding: 50px;
}

body{
  width: auto;
  margin-left: 15%;
  margin-right: 15%;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

/*---------
   BUTTON 
----------*/
header nav .button {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 20px;
  border: 1px solid black;
}

/*---------
   HEADER 
----------*/
header{
  margin: auto;
  text-align: center;
}

header .logo{
  width: 20%;
  height: 20%;
  margin-top: 10px;
}

header #titolo{
  color: lime;
  font-size: 30px;
}

header nav{
  background-color: lime;
  height: 40px;
  margin-top: 10px;
}

header nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*---------
   MAIN 
----------*/
main{
  margin-top: 30px;
}

main section > h3, p, div{
  color: white;
}

main section .percentuale{
  border-radius: 50%;
  background-color: white;
  color: black;
  padding: 5px;
  margin: 0 10px; 
  font-size: small;
}

main section > .stato-carica{
  margin:10px 0;
}

main section#sez2, main section#sez3{
  margin-top: 20px;
}

main section .barra-caricamento{
  border-radius: 10px;
  height: 25px;
}

main section #barra1{
  background-color: orange;
  width: 35%  ;
}

main section #barra2{
  background-color: green;
  width: 65%  ;
}

main section #barra3{
  background-color: red;
  width: 15%  ;
}
